  .titlebar {
    padding: 10px;
    background: black;
    color: grey;
  }
  
  .title {
    display: inline;
  }
  
  #login-buttons {
    margin: 10px;
    float: right;
  }

  #login-buttons a {
    text-decoration: none;
    color: inherit;
  }

  #login-buttons .login-close-text {
    float: right;
  }

  #login-dropdown-list {
    position: relative;
    margin-top: -15px
  }
