  #login-buttons a {
    text-decoration: none;
    color: inherit;
  }

  #login-buttons .login-close-text {
    float: right;
  }

  #login-dropdown-list {
    position: relative;
  }

  @media (max-width: 768px) {
    #login-buttons a {
        text-decoration: none;
        color: inherit;
        margin-left: 15px;
      }

      #login-buttons .login-close-text {
        float: left;
      }
  }