.list form {
    margin-top: 10px;
    margin-bottom: -10px;
    position: relative;
}

.list .new-task input {
    box-sizing: border-box;
    padding: 10px 0;
    background: transparent;
    border: none;
    width: 100%;
    padding-right: 80px;
    font-size: 1em;
}

.list .new-task input:focus {
    outline: 0;
}

.list h1 {
    display: inline;
}

.list .delete-list {
    margin-top: 10px;
    float: right;
    font-weight: bold;
    background: none;
    font-size: 1em;
    border: none;
    position: relative;
}

.list ul {
    margin: 0;
    padding: 0;
    background: white;
}

.list li {
    position: relative;
    list-style: none;
    padding: 15px;
    border-bottom: #eee solid 1px;
}

.list li .text {
    margin-left: 10px;
}

.list li.checked {
    color: #888;
}

.list li.checked .text {
    text-decoration: line-through;
}

.list header .hide-completed {
    float: right;
}

.list .share-button {
    margin-top: -10px;
    margin-left: 10px;
}